.cuadradoncillo {
     width: 150px; 
     height: 150px; 
     background: #9aadc3;
     border: solid 2px #7c7f84;
}

.txtcd {
  font-size: 13px;
  color: #257cbc;
}

.for2 {
     width: 150px; 
     height: 150px; 
     background: #9aadc3;
     border: solid 2px #7c7f84;
}